* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* COLORS */
    --green-color: #66a182;
    --dark-grey-color: #2f2f2f;
    --dim-grey-color: #736c6a;
    --ae-grey-color: #aeaeae;
    --coltured-color: #f8f8f8;
    --white-color: white;
    /* FONT FAMILY */
    --paragraph-font: arial;
    /* FONT SIZE */
    --link-text-size: 1rem;
    --paragraph-size: 1.2rem;
    --h2-size: 3rem;

}
a:active,a:focus {
    color: inherit;
}

header {
    position: sticky;
    top: 0;
}

#main-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "header header"
                          "main aside"
                          "footer footer";
    margin: 0px 5%;
}

/* HEADER */

#top-header {
    display: flex;
    padding: 10px;
    background-color: white;
}

/* h1 {
    color: var(--green-color);
    text-transform: capitalize;
    padding-right: 5px;
    border-right: solid 1px var(--dark-grey-color);
} */

#logo {
    width: 10%;
}

#top-buttons {
    margin-top: 10px;
    margin-left: auto;
}

#subscribe-button, 
#loggin-button {
    border-radius: 40px;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--green-color);
}

#subscribe-button {
    color: var(--green-color);
    border: solid 1px var(--green-color);
    background-color: var(--white-color);
}


#top-buttons a {
    padding: 10px;
}

#menu-nav a {
    text-decoration: none;
}
#menu-nav a:hover {
    border-bottom: solid 5px var(--green-color);
}


#menu-nav a,
#sok-link {
    padding: 12px 2% 6px 2%;
    color: var(--white-color);
    font-size: var(--link-text-size);
}
.fa-search{
    font-size: 1rem;
}

#sok-link {
    margin-left: auto;
}

#menu-nav {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--dark-grey-color);
    min-height:45px;

}
header {
    grid-area: header;
    /* border: solid 1px rgb(247, 33, 33); */

}

/* MAIN */

main {
    grid-area: main;
    border-left: solid 1px var(--dark-grey-color);
    border-right: solid 1px var(--dark-grey-color);
    padding: 1rem;
}

main section img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    /* object-position: -50% 0; */
}

main h2 {
    font-size: var(--h2-size);
}

main p {
    font-size: var(--paragraph-size);
    font-family: var(--paragraph-font);
}

#line, #line-white{
    height: 1px;
    width: 95%;
    
}

#line {
    background-color: var(--dark-grey-color);
    margin: 30px auto;
}

#line-white {
    width: 100%;
    margin: 30px auto;
    background-color: var(--coltured-color);
}

/* ASIDE */

aside {
    grid-area: aside;
    border-right: 1px solid var(--dark-grey-color);
    padding: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.sidebar-container section{
    border: 1px solid black;
    border-radius: 2px;
}
#vader-api {
    font-size: small;
}

/* FOOTER */

footer {
    grid-area: footer;
    border: solid 1px black;
    background-color: var(--dark-grey-color);
    color: var(--white-color);
    display: grid;
    grid-template-areas: "footer-div1 footer-div2 footer-div3"
                          "footer-div4 footer-div4 footer-div4";

}

footer h3 {
    padding-bottom: 4%;
}

#footer-div1 {
    grid-area: footer-div1;
}
#footer-div2 {
    grid-area: footer-div2;
}
#footer-div3 {
    grid-area: footer-div3;
}
#footer-div4 {
    grid-area: footer-div4;
}

#footer-div1, #footer-div2, #footer-div3 {
    padding: 10% 10% 0 25%;
}
#footer-div4 {
    padding: 1% 3.3% 5% 3.3%;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    padding: 1%;
}


.fa {
    margin-right: 0.5rem;
    color: var(--white-color);
}

.social-media a{
    text-decoration: none;
    color: inherit;
}

#about {
    display: flex;
    flex-flow: row nowrap;
    gap: 5%;
}

