* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* COLORS */
    --green-color: #66a182;
    --dark-grey-color: #2f2f2f;
    --dim-grey-color: #736c6a;
    --ae-grey-color: #aeaeae;
    --coltured-color: #f8f8f8;
    /* FONT FAMILY */

    /* FONT SIZE */
    --link-text-size: 1.2rem;

}
a:active,a:focus {
    color: inherit;
}

header {
    position: sticky;
    top: 0;
}

#main-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "header header"
                          "main aside"
                          "footer footer";
    margin: 0px 5%;
}

/* HEADER */

#top-header {
    display: flex;
    padding: 10px;
    background-color: white;
}

/* h1 {
    color: var(--green-color);
    text-transform: capitalize;
    padding-right: 5px;
    border-right: solid 1px var(--dark-grey-color);
} */

#logo {
    width: 10%;
}

#top-buttons {
    margin-top: 10px;
    margin-left: auto;
}

#subscribe-button, 
#loggin-button {
    border-radius: 40px;
    text-decoration: none;
    color: white;
    background-color: #66a182;
}

#subscribe-button {
    color: #66a182;
    border: solid 1px var(--green-color);
    background-color: white;
}


#top-buttons a {
    padding: 10px;
}

#menu-nav a {
    text-decoration: none;
}
#menu-nav a:hover {
    border-bottom: solid 5px var(--green-color);
}


#menu-nav a,
#sok-link {
    padding: 12px 2% 10px 2%;
    color: white;
    font-size: var(--link-text-size);

}

#sok-link {
    margin-left: auto;
}

#menu-nav {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--dark-grey-color);
    min-height:49px;

}
header {
    grid-area: header;
    /* border: solid 1px rgb(247, 33, 33); */

}

/* MAIN */

main {
    grid-area: main;
    border-left: solid 1px var(--dark-grey-color);
    border-right: solid 1px var(--dark-grey-color);
    padding: 1rem;
}

main section img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    /* object-position: -50% 0; */
}

h2 {
    font-size: 3rem;
}

#line {
    height: 1px;
    width: 95%;
    margin: 30px auto;
    background-color: var(--dark-grey-color);
}

/* ASIDE */

aside {
    grid-area: aside;
    border-right: 1px solid var(--dark-grey-color);
}

h3 {
    font-size: 3rem;
}

#vader-api {
    font-size: small;
}

/* FOOTER */

footer {
    grid-area: footer;
    border: solid 1px black;
    background-color: var(--dark-grey-color);
    color: white;
    height: 300px;

}

