#wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: space-evenly;

}

#wrapper img{
    padding: 5px;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
}

#wrapper button {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 5px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #2f2f2f;
}

/*MOLE GAME*/

.square {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: black;
    background-image: url("../img/mole-game/dirt.jpg");
    background-size: cover;
}

#mole-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 460px;
    height: 460px;
    border: 5px solid black;
}


#mole-game-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    
}

#score-time-container {
    padding-bottom: 20px;
    font-size: 20px;
}

#score-time-container h1, #score-time-container h2 {
    font-size: 20px;
    
} 

#mole-headline {
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}

.mole {
    background-image: url("../img/mole-game/mole.png");
    background-size: cover;
}

.hit {
    background-image: url("../img/mole-game/boom.png");
    background-size: cover;
}


/* WORD GAME */

#game-img {
    height: 200px;
}

.letter-boxes {
    border-bottom: 1px solid black;
    width: 70px;
    height: 50px;
    background-color: lightgrey;
    margin: 3px;
    text-align: center;
    font-size: 3rem;
}

#game-word {
    display: flex;
    flex-flow: row nowrap;
    margin: 50 auto;
    justify-content: center;
}

#alphabet-container {
    margin: 100px 20%;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

#alphabet-container button {
    font-size: 2rem;
    background-color: white;
    border: none;
    text-transform: uppercase;
}

.btn-green {
    color: green;
}
.btn-fade {
    color: lightgray;
    
}