#wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: space-evenly;

}

#wrapper img{
    padding: 5px;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
}

#wrapper button {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 5px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #2f2f2f;
}

.square {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
}

.mole {
    background-image: url("../img/mole.png");
    background-size: cover;
}