@import 'general.css';

.myMain{
    margin: 0;
    padding: 0;
}

.weather-container{
    width: 100%;
    position: relative;
}

.weather{
    margin: 0.5rem;
    z-index: 0.999;
}
#background-video{
    height: 70vh;
    min-width: 60%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.today{
    width: 40%;
    text-align: center;
    font-size: 24px;
    color: black;
}

#Temperature{
    font-size: 78px;
    font-weight:900;
}

.hours-info{
    display: flex;
    column-gap:1rem;
    background-color: var(--dark-grey-color);
    opacity: 0.5;
    color:aliceblue;
    width: 50%;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
}

.hours-info::-webkit-scrollbar{
    display:none;
}

.hour{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hour img{
    height: 30px;
    width: 30px;
}


/*::::::::::::::::::: 3-DAY FORECAST :::::::::::::*/
.days-forecasts, #weekdays3{
    display: flex;
}

.days-forecasts{
    column-gap: 1.9sssrem;
    justify-content: center;
    align-items: center;
}

.days-forecasts img{
    width: 35px;
    height: 35px;
}

#weekdays3{
    flex-direction: column;
    background-color: var(--dark-grey-color);
    color: aliceblue;
    width: 25%;
    text-align: center;
    border-radius: 15px;
    padding: 1rem 0;
}

.div-info{
    margin-bottom: 1rem;
    opacity: 0.6;
}

/*:::::::::::: Pressure :::::::*/
#pressure{
    margin: 1rem;
    position: relative;
    width: 25%;
    height: 250px;
    background-color: black;
    color:aliceblue;
    padding: 1rem;
    border-radius: 15px;
}

#pressure .dash{
    position: absolute;
    --rotate: 0;
    left: 50%;
    width: 40%;
    height: 40%;
    font-weight: 900;
    font-size: 24;
    text-align: center;
    transform: translateX(-50%) rotate(calc(var(--rotate)*1deg));
    transform-origin: bottom;
    opacity: 0.6;
}

.pressureInfo{
    position: absolute;
    left: 40%;
    top: 35%;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.pressureScale{
    position: absolute;
    display: flex;
    column-gap: 160%;
    bottom: 10%;
    margin-inline: 2.5rem;
}

/*::::::::::: Visibility :::::::::::*/
.visible, .humidy, .feels-like{
    background-color: var(--dark-grey-color);
    color: white;
    width: 25%;
    padding: 1rem;
    border-radius: 15px;
    margin: 0.5rem 1rem;
}
.visibility, .humidity, .feels{
    font-size: 40px;
    margin-bottom: 2rem;
    text-align: center;
}


/*::::::::::: humidity :::::::::::*/

